.deadline-list {
    overflow: hidden;
}

.deadline-label {
    position: relative;
    top: -4px;
}

.ProjectTeamDashBoard .apexcharts-legend-text {
    font-size: 15px !important;
}

.ProjectTeamDashBoard .apexcharts-legend-series {
    margin-bottom: 5px;
}

.deadline-project {
    background: #c7ecee;
}

.DeadlineRow {
    margin: 0 0 2px !important;
    display: flex
}

.DeadlineHeader .row {
    margin: 0;
    padding-right: 17px;
}

.DeadlineRow .custom-center-row {
    display: flex;
    flex-direction: column;
    justify-content: center
}
