.ActionRow .ActionIconCreate {
    color: #2980b9!important;
}

.ActionRow .ActionIconDelete {
    color: #f1c40f!important;
}
.ActionRow .ActionIconUpdate {
    color: #5EC960!important;
}

.ActionRow .mt-actions .mt-action-desc {
    color: #636e72!important;
}
.ActionRow .mt-actions .mt-action-date {
    color: #636e72;
}
