

.Profile {
    color: #34495e;
}

.position-social {
    position: relative;
    top: 3px
}
.avatar-max-width-300 img {
    width: 100%
}
.Profile .tabbable-custom-profile .nav-tabs>li>span {
    padding: 6px 12px
}

.Profile .tabbable-line .portlet.bordered {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    height: 100vh;
}


@media(max-width: 992px) {
    .responsive-row-992 {
        display: flex;
        flex-direction: row;
        justify-content: space-around
        
    }
    .avatar-max-width-300 {
        max-width: 300px;
    }
}
@media(max-width: 576px) {
    .responsive-row-992 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
        
    }
    .profile-info-custom-responsive .row {
        display: flex;
        flex-direction: column
    }
    .profile-info-custom-responsive .row .col-xs-4 {
        width: 100%;
        text-align: center
    }
}
