/* here you can put your own css to customize and override the theme */

/* App style */
.App .page-content-popup {
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}




.padding-xs {
    padding: 0.25em;
}
.padding-sm {
    padding: 0.5em;
}
.padding-md {
    padding: 1em;
}
.padding-lg {
    padding: 1.5em;
}
.padding-xl {
    padding: 3em;
}

.padding-top-xs {
    padding-top: 0.25em;
}
.padding-top-sm {
    padding-top: 0.5em;
}
.padding-top-md {
    padding-top: 1em;
}
.padding-top-lg {
    padding-top: 1.5em;
}
.padding-top-xl {
    padding-top: 3em;
}

.padding-right-xs {
    padding-right: 0.25em;
}
.padding-right-sm {
    padding-right: 0.5em;
}
.padding-right-md {
    padding-right: 1em;
}
.padding-right-lg {
    padding-right: 1.5em;
}
.padding-right-xl {
    padding-right: 3em;
}

.padding-bottom-xs {
    padding-bottom: 0.25em;
}
.padding-bottom-sm {
    padding-bottom: 0.5em;
}
.padding-bottom-md {
    padding-bottom: 1em;
}
.padding-bottom-lg {
    padding-bottom: 1.5em;
}
.padding-bottom-xl {
    padding-bottom: 3em;
}

.padding-left-xs {
    padding-left: 0.25em;
}
.padding-left-sm {
    padding-left: 0.5em;
}
.padding-left-md {
    padding-left: 1em;
}
.padding-left-lg {
    padding-left: 1.5em;
}
.padding-left-xl {
    padding-left: 3em;
}

.margin-xs {
    margin: 0.25em;
}
.margin-sm {
    margin: 0.5em;
}
.margin-md {
    margin: 1em;
}
.margin-lg {
    margin: 1.5em;
}
.margin-xl {
    margin: 3em;
}

.margin-top-xs {
    margin-top: 0.25em;
}
.margin-top-sm {
    margin-top: 0.5em;
}
.margin-top-md {
    margin-top: 1em;
}
.margin-top-lg {
    margin-top: 1.5em;
}
.margin-top-xl {
    margin-top: 3em;
}

.margin-right-xs {
    margin-right: 0.25em;
}
.margin-right-sm {
    margin-right: 0.5em;
}
.margin-right-md {
    margin-right: 1em;
}
.margin-right-lg {
    margin-right: 1.5em;
}
.margin-right-xl {
    margin-right: 3em;
}

.margin-bottom-xs {
    margin-bottom: 0.25em;
}
.margin-bottom-sm {
    margin-bottom: 0.5em;
}
.margin-bottom-md {
    margin-bottom: 1em;
}
.margin-bottom-lg {
    margin-bottom: 1.5em;
}
.margin-bottom-xl {
    margin-bottom: 3em;
}

.margin-left-xs {
    margin-left: 0.25em;
}
.margin-left-sm {
    margin-left: 0.5em;
}
.margin-left-md {
    margin-left: 1em;
}
.margin-left-lg {
    margin-left: 1.5em;
}
.margin-left-xl {
    margin-left: 3em;
}

/* custom class style */
.relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
/* custom style */

.middle-loading-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.middle-loading-custom-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

/* Notistack custom style for notification */
.border-close-notification .close{
    opacity: 1;
    color: white
}
.MuiSnackbarContent-message {
    font-size: 14px!important
}
/* Notistack custom style for notification */
