/* :root{
    --bg : #abd1f7
} */
.portlet-body-custom-color{
    background-color:var(--bg);
    border-radius: 5px;
    border : 1px solid var(--border);
    padding: 17px
}
 .item-name{
    margin-bottom: 5px;
    color: #0c5460;
    font-size : 20px;
    font-family: Arial;
    font-weight: 600
}
.item-last{
    margin-bottom: 5px;
    color: #155724;
    font-size : 20px;
    font-family: Arial;
    font-weight: 600;
    border-bottom: 0
}
.item-block{
    color: #155724;
    font-size : 20px;
    font-family: Arial;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 600
}
.mt-comment-text{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3d3d3d;
    font-weight: 600;
    font-size: 17px;
    font-weight: 600
}
.mt-actions .mt-action{
    border-bottom: 1px solid white !important;
}
.mt-actions .mt-action .mt-action-body{
    padding-top: 10px;
    padding-left: 20px
}
.mt-actions .mt-action .mt-action-details{
   font-size: 17px
}
.mt-actions .mt-action .mt-action-details{
    font-size: 17px
 }
.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .mt-action-author{
    text-decoration: none;
    color: #856404 !important
}
.style_prevu_kit:hover
{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);  
}
.portlet.box.custom.color > .portlet-title{
    background-color: var(--boxColor);
}
.portlet.box.custom.color {
    border: 1px solid var(--boxColor);
}
.table-scrollable-custom{
    border-radius: 5px;
    /* border: 1px solid var(--border) */
}
.table-scrollable-custom> .table-bordered > thead > tr:last-child > th{
    background-color: var(--bg);
    padding : 10px;
    font-size: 20px;
    font-weight: 600;
    color : #0c5460
}
.table-scrollable > .table-bordered > thead > tr:last-child > th{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding: 10px
}
